/*------base----------*/
html{
    box-sizing: border-box;
    font-size: 62.55%;
}
*,*::before,*:after{
    box-sizing: inherit;
}
/*------technique----------*/
a{
    text-decoration: none;
}
/*------contenu----------*/
.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    justify-content: center;
    
}



header{
    background-color: #34495E;
}
header .wrapper {
    display: flex;
}

.gauche{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 50%;

}

.regles article :hover{
background-color: #BDC3C7;

}

.droite {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



h1{
    font-family: "Roboto", serif;
    color: white;
    font-size: 9.6rem;
    letter-spacing: 32px;
}

h2 {
    font-family: "Lato", serif;
    font-weight: 100;
    font-size: 4.8rem;
    display: flex;
    
}

h3 {
    font-family: "Quicksand", serif;
    font-size: 3.6rem;
}

.cerclegauche{
    color: #D35400;
    font-size: 3.0rem;
    margin-right: 50px;
    width: 210px;
    height: 210px;
    border: 5px solid #D35400;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.center {
    display: flex;

}
.cercledroite {
    color: #D35400;
    margin-left: 50px;
    font-size: 3.0rem;
    width: 210px;
    height: 210px;
    border: 5px solid #D35400;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

h4 {
    font-family: "Roboto", serif;
    font-size: 2.0rem;
}

p {
    font-family: "Roboto", serif; 
    font-size: 2.0rem;
}


.info .wrapper{
    display: flex;
    
}
.a1 {
    flex: 50%;
    margin-right: 32px;
}
.a2 {
    flex: 50%;
    margin-right: 32px;
}
footer{
    background-color: #2980B9;
}
footer .wrapper {
    display: flex;
    justify-content:space-between;
}
